{% extends 'base.html' %}
 {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIOutfitters</title>
</head>
<body>
    <marquee><h1 style="color:#0dc2db;">TIOutfitters TIOutfitters TIOutfitters TIOutfitters TIOutfitters TIOutfitters TIOutfitters</h1></marquee>
    <div class="headerBar">
        <a class="navLink current">Home</a>
        <a href="https://genius.com/Rick-astley-never-gonna-give-you-up-lyrics" class="navLink">About</a>
        <a href="https://shopee.co.id/" class="navLink">Shop</a>
        <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://www.roblox.com/games/15101393044/Dress-To-Impress&ved=2ahUKEwj_kcKylLWIAxW3xDgGHXn2C5EQFnoECBgQAQ&usg=AOvVaw1ecNzkX-8tsfcMaAyP3fG-" 
        class="navLink">Digital Dressing Room</a>
      </div>
      <h2>See how it looks before you buy it!</h2>
        <a href="https://shopee.co.id/" class="navLink">Shop now</a>

        <marquee><p>{{ npm }} - {{ name }} - {{ class }}</p></marquee> 
</body>
</html>

...
{% if not product_entries %}
<p>No products yet.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Favorite</th>
  </tr>

  {% comment %} memperlihatkan data product
  {% endcomment %} 
  {% for product_entry in product_entries %}
  <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.favorite}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product' %}">
  <button>Add New Product</button>
</a>
{% endblock content %}